*, *::before, *::after {
    box-sizing: inherit;
}

#welcome-section {height: 100vh;
display: flex; 
justify-content: center;
align-items: center;
font-size: 3rem; 
border: 2px solid green;}

#navbar {display: flex;
position: fixed;
justify-content: flex-end;
border: 1px solid blue;
width: 100%;
top: 0;
left: 0;}

ul{display: flex;
list-style: none;
margin-right: 2rem;
}

li {padding: 1rem;}

#projects {display: flex;
    flex-direction: row;
    align-items: center;
}
.project-tile {

#project-image {width: 100%;
}

@media 
